OPENROUTER_API_KEY=XXX
TELEGRAM_BOT_TOKEN=XXX
DINGTALK_ROBOT_WEBHOOK_URL=https://oapi.dingtalk.com/robot/send?access_token=XXX
DINGTALK_ROBOT_APP_KEY=XXX
DINGTALK_ROBOT_APP_SECRET=XXX
CLAWPARTY_WEB_AUTH_TOKEN=XXX
